body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:636px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:314px;
  height:636px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:13px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:72px;
  width:274px;
  height:13px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:85px;
  width:274px;
  height:471px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:318px;
  width:257px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:95px;
  width:40px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
